nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    padding: 20px;
    background-color: rgba(237, 237, 237, 0.7176470588);
    backdrop-filter: blur(5px);
}
nav .left, nav .right {
    display: flex;
    align-items: end;
}
nav .left .logo {
    width: fit-content;
    font-size: 12pt;
    font-weight: 500;
    line-height: 20px;
    margin-right: 10px;
    color: #222222;
}
nav .left .logo span {
    font-weight: 500;
    color: #106BA2;
}
nav .left ul {
    display: flex;
    height: 100%;
}
nav .left ul li {
    list-style: none;
    cursor: pointer;
    user-select: none;
    transition: 0.1s;
    font-weight: 400;
    font-size: 10pt;
    padding: 0 10px;
}
nav .left ul li a {
    text-decoration: none;
    color: #222222;
}
nav .left ul li a:hover {
    color: #004D7B;
}
nav .right .social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    gap: 5px;
}
nav .right .social_media a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.1s;
}
nav .right .social_media a svg {
    width: 26px;
    height: 26px;
}
nav .right .social_media a:hover {
    opacity: 0.7;
    transform: scale(0.97);
}
nav .right .contato {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #106BA2;
    color: #EDEDED;
    cursor: pointer;
    transition: 0.2s;
    font-size: 11pt;
    text-decoration: none;
    user-select: none;
    margin-left: 10px;
}
nav .right .contato:hover {
    background-color: #004D7B;
}