
section#contacts {
    grid-template-areas: "title right" "contatos contatos";
}
section#contacts .section_title {
    position: relative;
    top: 0;
}
section#contacts .line {
    grid-area: contatos;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
section#contacts .line a {
    transition: 0.15s;
    color: #2d85bc;
    flex: 1;
}
section#contacts .line a .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    gap: 10px;
}
section#contacts .line a .content .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100px;
    height: 100px;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.1s;
}
section#contacts .line a .content .icon svg {
    width: 86px;
    height: 86px;
}
section#contacts .line a:hover {
    transform: scale(1);
    margin-top: -10px;
    padding-bottom: 10px;
}
section#contacts .line:hover a:not(:hover) {
    opacity: 0.4;
    filter: blur(2px);
}